extends ./navbar

block content
        .main.container
                .row
                    div.col-md-11
                        h1 Clientes
                    div.col-md-1
                        br
                        a.btn.btn-success(href='#myModal' , data-toggle="modal") Añadir
                .row
                    br
                    table.table.table-bordered.table-responsive.table-hover
                        thead
                            .active
                                tr
                                    th ID
                                    th DNI
                                    th Nombre
                                    th Apellido
                                    th Telefono
                                    th Email
                                    th Fecha Nacimiento
                                    th Editar
                                    th Eliminar
                        tbody
                            each item in rows
                                tr
                                    td= item.ID
                                    td= item.DNI
                                    td= item.Nombre
                                    td= item.Apellido
                                    td= item.Telefono
                                    td= item.EMAIL
                                    td= item.FechaNacimiento.toDateString()
                                    td
                                        button.btn.btn-primary.btn-xs
                                            span.glyphicon.glyphicon-edit(aria-hidden= 'true')
                                    td
                                        button.btn.btn-danger.btn-xs
                                            span.glyphicon.glyphicon-remove(aria-hidden= 'true')
