extends ./navbar

block content
    div.modal.fade(id="myModal" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times
                    h4 Añadir Clientes.
                .modal-body
                    form(method="post" id="formclientes" action="../client/anadir_cliente")
                        .row
                            div.form-group.col-md-6
                                label(for="DNI") DNI
                                input.form-control(name="dni", id="DNI", required="required")
                                div.alert.alert-danger(style="display:none" id="error_dni")
                            div.form-group.col-md-6
                                label(for="fechaNacimiento") Fecha Nacimiento
                                input.form-control(name="fechaNacimiento", id="fechaNacimiento", required="required")
                                div.alert.alert-danger(style="display:none" id="error_fechaNacimiento")
                        .row
                            div.form-group.col-md-6
                                label(for="nombre") Nombre
                                input.form-control(name="nombre", id="nombre", required="required")
                                div.alert.alert-danger(style="display:none" id="error_nombre")
                            div.form-group.col-md-6
                                label(for="nombre") Apellidos
                                input.form-control(name="apellido", id="apellido", required="required")
                                div.alert.alert-danger(style="display:none" id="error_apellido")
                        .row
                            div.form-group.col-md-6
                                label(for="telefono") Telefono
                                input.form-control(name="telefono", id="telefono", required="required")
                                div.alert.alert-danger(style="display:none" id="error_telefono")
                            div.form-group.col-md-6
                                label(for="email") Email
                                input.form-control(name="email", id="email", required="required")
                                div.alert.alert-danger(style="display:none" id="error_email")

                .modal-footer
                    button.btn.btn-success(type="button" id="botonAnadir" onclick="anadir_user()") Añadir
                    button.btn.btn-default(type="button" data-toggle="modal" data-dismiss="modal") Cancelar
    div.modal.fade(id="eliminarCliente" role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") &times
                    h4 Eliminar Cliente
                .modal-body
                  b ¿Está seguro que quiere eliminar el cliente?
                  p Esta acción no se podrá deshacer.
                .modal-footer
                    button.btn.btn-danger(type="button" id="botonEliminar" onclick="") Eliminar
                    button.btn.btn-default(type="button" data-toggle="modal" data-dismiss="modal") Cancelar


    .main.container
            .row
                div.col-md-11
                    h1 Clientes
                div.col-md-1
                    br
                    button.btn.btn-success(type="button", onclick="abrir();") Añadir
            .row
                br
                table.table.table-bordered.table-responsive.table-hover(id="tabla")
                    thead
                        .active
                            tr
                                th(style="text-align:center") ID
                                th(style="text-align:center") DNI
                                th(style="text-align:center") Nombre
                                th(style="text-align:center") Apellido
                                th(style="text-align:center") Telefono
                                th(style="text-align:center") Email
                                th(style="text-align:center") Fecha Nacimiento
                                th(style="text-align:center") Editar
                                th(style="text-align:center") Eliminar
                    tbody
                        each item in rows
                            tr
                                td= item.ID
                                td= item.DNI
                                td= item.Nombre
                                td= item.Apellido
                                td= item.Telefono
                                td= item.EMAIL
                                td(style="text-align:center")= item.FechaNacimiento.toISOString().substr(8,2) + '-' + item.FechaNacimiento.toISOString().substr(5,2) +'-'+ item.FechaNacimiento.toISOString().substr(0,4)
                                td
                                    button.btn.btn-primary.btn-xs(onclick="abrir_editar('"+item.ID+"')")
                                        span.glyphicon.glyphicon-edit(aria-hidden= 'true')
                                td
                                    button.btn.btn-danger.btn-xs(onclick="validar_eliminar('" + item.ID + "')")
                                        span.glyphicon.glyphicon-remove(aria-hidden= 'true')
    script.
        function abrir(){
            $('#DNI').val("");
            $('#error_dni').css("display", "none");
            $('#nombre').val("");
            $('#error_nombre').css("display", "none");
            $('#apellido').val("");
            $('#error_apellido').css("display", "none");
            $('#telefono').val("");
            $('#error_telefono').css("display", "none");
            $('#email').val("");
            $('#error_email').css("display", "none");
            $('#fechaNacimiento').val("");
            $('#error_fechaNacimiento').css("display", "none");
            $('#botonAnadir').css("btn-primary", "btn-success");
            $('#botonAnadir').html("Añadir");
            $('#myModal').modal('show');

        }
        function abrir_editar(id){
            $.post('../client/buscar_cliente', {
                id: id
            }, function (data) {
                $('#DNI').val(data.DNI);
                $('#nombre').val(data.nombre);
                $('#apellido').val(data.apellido);
                $('#telefono').val(data.telefono);
                $('#email').val(data.email);
                $('#fechaNacimiento').val(data.data);
            });
            $('#botonAnadir').css("btn-success", "btn-primary");
            $('#botonAnadir').html("Editar");
            $("#botonAnadir").attr("onclick", "editar_cliente('" + id + "')");
            $('#myModal').modal('show');
        }
        $(function () {
            $('#tabla').DataTable({
                columnDefs: [
                    {type: 'date-eu', targets: 6}
                ]
            });
            $('#fechaNacimiento').datepicker({
                format: 'dd-mm-yyyy'});
        });
        function anadir_user() {
            var valido = true;
            var dni = $('#DNI').val();
            var nombre = $('#nombre').val();
            var apellido = $('#apellido').val();
            var telefono = $('#telefono').val();
            var  email= $('#email').val();
            var  fechaNacimiento= $('#fechaNacimiento').val();
            if(dni === ""){
                valido = false;
                $('#error_dni').html("Dni no puede estar vacio.");
                $('#error_dni').css("display", "");
            }
            if (nombre === "") {
                valido = false;
                $('#error_nombre').html("Nombre no puede estar vacio.");
                $('#error_nombre').css("display", "");
            }
            if (apellido === "") {
                valido = false;
                $('#error_apellido').html("Apellido no puede estar vacio.");
                $('#error_apellido').css("display", "");
            }
            if (telefono === "") {
                valido = false;
                $('#error_telefono').html("Telefono no puede estar vacio.");
                $('#error_telefono').css("display", "");
            }
            if (email === "") {
                valido = false;
                $('#error_email').html("Email no puede estar vacio.");
                $('#error_email').css("display", "");
            }
            if (fechaNacimiento === "") {
                valido = false;
                $('#error_fechaNacimiento').html("Fecha nacimiento no puede estar vacio.");
                $('#error_fechaNacimiento').css("display", "");
            }
            if (valido) {
                $.post('../client/alta_cliente',{
                    dni: dni,
                    nombre:nombre,
                    apellido:apellido,
                    telefono:telefono,
                    email: email,
                    fechaNacimiento:fechaNacimiento

                }, function (data) {
                    var datos = data
                    if(datos.estado === "ok"){
                        $('#myModal').modal('show');
                        location.reload();
                    }else{
                        if(datos.DNI !== "ok") {
                            $('#error_dni').html(datos.DNI);
                            $('#error_dni').css("display", "");
                        }
                        if (datos.nombre !== "ok") {
                            $('#error_nombre').html(datos.nombre);
                            $('#error_nombre').css("display", "");
                        }
                        if (datos.apellido !== "ok") {
                            $('#error_apellido').html(datos.apellido);
                            $('#error_apellido').css("display", "");
                        }
                        if (datos.telefono !== "ok") {
                            $('#error_telefono').html(datos.telefono);
                            $('#error_telefono').css("display", "");
                        }
                        if (datos.email !== "ok") {
                            $('#error_email').html(datos.telefono);
                            $('#error_email').css("display", "");
                        }
                        if (datos.data !== "ok") {
                            $('#error_fechaNacimiento').html(datos.data);
                            $('#error_fechaNacimiento').css("display", "");
                        }
                    }

                });
            }

        }
        function validar_eliminar(id) {
            $("#botonEliminar").attr("onclick","eliminar('"+id+"')");
            $('#eliminarCliente').modal('show');
        }
        function eliminar(id) {
            $.post('../client/baja_cliente', {
                id:id
            }, function (data) {
                $('#eliminarCliente').modal('hide');
                location.reload();
            });
        }
        function editar_cliente(id) {
            var dni = $('#DNI').val();
            var nombre = $('#nombre').val();
            var apellido = $('#apellido').val();
            var telefono = $('#telefono').val();
            var email = $('#email').val();
            var fechaNacimiento = $('#fechaNacimiento').val();
            $.post('../client/editar_cliente', {
                id : id,
                dni: dni,
                nombre: nombre,
                apellido: apellido,
                telefono: telefono,
                email: email,
                fechaNacimiento: fechaNacimiento

            }, function (data) {
                var datos = data
                if (datos.estado === "ok") {
                    $('#myModal').modal('show');
                    location.reload();
                } else {
                    if (datos.DNI !== "ok") {
                        $('#error_dni').html(datos.DNI);
                        $('#error_dni').css("display", "");
                    }
                    if (datos.nombre !== "ok") {
                        $('#error_nombre').html(datos.nombre);
                        $('#error_nombre').css("display", "");
                    }
                    if (datos.apellido !== "ok") {
                        $('#error_apellido').html(datos.apellido);
                        $('#error_apellido').css("display", "");
                    }
                    if (datos.telefono !== "ok") {
                        $('#error_telefono').html(datos.telefono);
                        $('#error_telefono').css("display", "");
                    }
                    if (datos.email !== "ok") {
                        $('#error_email').html(datos.telefono);
                        $('#error_email').css("display", "");
                    }
                    if (datos.data !== "ok") {
                        $('#error_fechaNacimiento').html(datos.data);
                        $('#error_fechaNacimiento').css("display", "");
                    }
                }
            });

        }
