extends ./navbar


block content
    .main.container
        .row
            .col-md-9
                h1 Panel de Control de #{infoCliente[0].Nombre} #{infoCliente[0].Apellido}
                hr
                br
            .col-md-3
                br
                button.btn.btn-success(onclick="Actualizar()", id="Actu") Actualizar página
        .row
            .col-md-4
            .col-md-4
                form(method="post" id="formActu" action="../controlPanel")
                    input(value= DNI style="display:none" name="DNI")
                    label Sesión a mostrar
                    select.form-control(value="" name="sesion", onchange="Actualizar()")
                        each row in selectSesions
                            if row.Sesion  == select
                                option(value=row.Sesion, "selected") #{row.Sesion}
                            else
                                option(value=row.Sesion) #{row.Sesion}
            .col-md-4
                p Kilometros recorridos en total: #{distance}
        br
        br
        .row
            .col-md-6
                label Velocidad
                canvas(id="speedGraph" width="500" height="300")
            .col-md-6
                label Revoluciones por minuto
                canvas(id="rpmGraph" width="500" height="300")
        br
        .row
            .col-md-6
                label Nivel de gasolina
                canvas(id="fuelLvl" width="500" height="300")
            .col-md-6
                label Runtime
                canvas(id="runtime" width="250" height="150")
        br
        br
        .row

            .col-md-12
                label Ruta realizada
                div(id="map" style="width:100%;height:550px;")


    script.
        var bounds;
        var oms;
        var iconBase;
        $(function () {
            SpeedGraph();
            RPMGraph();
            FuelGraph();
            RunGraph();
        });
        function initMap() {
            iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
            bounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById('map'), {});
            var marcadores = #{marcadores};
            var i;
            for (i = 0; i < marcadores.length; i++) {
                var position = {lat: marcadores[i][0], lng: marcadores[i][1]};
                addMarker(position,map);

            }

            map.fitBounds(bounds);
            map.panToBounds(bounds);

        }
        function addMarker(position, map) {
            var marker = new google.maps.Marker({
                position: position,
                map: map
            });
            var loc = new google.maps.LatLng(marker.position.lat(), marker.position.lng());
            bounds.extend(loc);
            
        }
        function Actualizar() {
            $("#formActu").submit();
        }
        function RunGraph() {
            var popCanvas = $("#runtime");
            var RUNTIME={
                label: "Minutos",
                data: [#{runtimes}],
                backgroundColor: 'yellow'
            }
            var Datos = {
                labels: [#{sesions}],
                datasets: [RUNTIME]
            }
            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'rgb(60, 180, 100)'
                    }
                }
            };
            var barChart = new Chart(popCanvas, {
                type: 'bar',
                data: Datos,
                options: chartOptions

            });

        }
        function FuelGraph() {
            var popCanvas = $("#fuelLvl");
            var FUEL = {
                label: "Porcentaje",
                data: [#{fuel}],
                backgroundColor: 'blue'
            }
            var Datos = {
                labels: [#{sesions}],
                datasets: [FUEL]
            }
            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'rgb(60, 180, 100)'
                    }
                }
            }
            var barChart = new Chart(popCanvas, {
                type: 'bar',
                data: Datos,
                options: chartOptions

            });


        }
        function RPMGraph() {
            var popCanvas = $("#rpmGraph");
            var RPM = {
                label: "RPM",
                data: [#{rpm}],
                backgroundColor: 'transparent',
                borderColor: 'red'
            }
            var Datos = {
                labels: [#{fechas}],
                datasets: [RPM]
            }
            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'black'
                    }
                }
            };
            var barChart = new Chart(popCanvas, {
                type: 'line',
                data: Datos,
                options: chartOptions

            });

        }
        function SpeedGraph(){

            var popCanvas = $("#speedGraph");

            var Speed = {
                label: "KmH",
                data: [#{velocidades}],
                backgroundColor: 'transparent',
                borderColor: 'orange'

            }

            var Datos = {
                labels: [#{fechas}],
                datasets: [Speed]
            }
            var chartOptions = {
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        boxWidth: 80,
                        fontColor: 'black'
                    }
                }
            };
            var barChart = new Chart(popCanvas, {
                type: 'line',
                data:Datos,
                options:chartOptions

            });
        }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPny4cI07YVs8rPptpcBTi7QtrbmybSAA&callback=initMap")
